<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="" viewport content="width=device-width, initial-scale=1.0" />
    <title>Mapbrew</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap"
    rel="stylesheet"
  />
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav>
      <div class="center">
      <p id="navTitle">Mapbrew</p>
      </div>
      <div class="right">
      <button class="navButton"><a href="login">Login</a></button>
      <button class="navButton">
        <a href="mapbuilder">Map Builder</a>
      </button>
      <button class="navButton"><a href="league">League</a></button>
      <button class="navButton"><a href="faq">FAQ</a></button>
    </div>
    </nav>

    <h1>Mapbrew</h1>

    <h3 id="topLine">where worlds are created</h3>

    <h3 id="bottomLine">and heroes are born</h3>
  </body>
</html>
