body {
  font-family: 'Kalam', cursive !important;
  font-weight: 400 !important;
}

.d-inline-flex {
  margin: 0 !important;
}

.allQuestContain,
.quest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all {
  font-size: 20px !important;
}

.btn {
  font-size: 30px !important;
  margin-top: 20px;
  width: 845px;
  height: 150px;
  background-image: url('../assets/images/scroll-top.png') !important;
  background-repeat: no-repeat;
}

.contain {
  border-radius: 15px;
}

.collapse-content {
  text-align: center;
  margin-left: 20px;
  background-image: url('../assets/images/scroll-bot.png') !important;
  background-repeat: no-repeat;
  width: 674px !important;
  height: 300px;
  font-size: 20px !important;
  width: 800px;
  padding: 1%;
}
