.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
    background-color: rgba(0, 0, 0, .6); 
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    margin-top: 7%;
    padding: 20px;
    width: 40%;
    height: 60%; 
    border-radius: 15px;
}

/* Close Button */
.close {
    opacity: 1;
    color: #818589;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* input */

.form {
    opacity: 1;
    margin: auto;
    width: 75%;
    font-family: 'Kalam', cursive;
}

input {
    font-family: 'Kalam', cursive; 
}

#userSubmit {
    color: white;
    font-family: 'Kalam', cursive;
    font-size:x-large;
    border: none;
    background-color: transparent;   
    margin-top: 5%; 
}